#ouvrirmenu, #ouvrirterminal {
    border: transparent;
    position: relative;
    padding: 10px 10px;
    margin: 5px;
    background-color: rgba(27, 51, 210, 0.3);
    color: #e164ea;
    text-transform: uppercase;
    letter-spacing: 1px;
    text-decoration: none;
    font-size: 20px;
    overflow: hidden;
    transition: 0.2s;
    cursor: pointer;
    z-index: 10000;
}

#ouvrirmenu:hover {
    color: #000000;
    background: #d501f6;
    border-radius: 10%;
    box-shadow: 0 0 10px #5d046b, 0 0 40px #863e91, 0 0 80px #d501f6;
    scale: 110%;
    transition-delay: 200ms;
}
#ouvrirterminal:hover {
    color: #000000;
    background: #d501f6;
    border-radius: 10%;
    box-shadow: 0 0 10px #5d046b, 0 0 40px #863e91, 0 0 80px #d501f6;
    scale: 110%;
    transition-delay: 200ms;
}


#ouvrircontact, #ouvrirapropos, #ouvrirartsnum, #ouvrirdev, #ouvrirVideoDC, #ouvrirVideoDCR, #ouvrirtoutdoux, #ouvrircalculcarbone, #ouvrirSticky, #ouvrirpug, #ouvrircolors{
    border: transparent;
    position: relative;
    padding: 10px 10px;
    margin: 5px;
    background-color: rgba(27, 51, 210, 0.3);
    color: #e164ea;
    text-transform: uppercase;
    letter-spacing: 1px;
    text-decoration: none;
    font-size: 10px;
    overflow: hidden;
    transition: 0.2s;
    cursor: pointer;
    z-index: 10000;
}

#ouvrirdev:hover {
    color: #050f1a;
    background: #d501f6;
    border-radius: 3px;
    box-shadow: 0 0 10px #5d046b, 0 0 40px #863e91, 0 0 80px #d501f6;
    transition-delay: 200ms;
}

#ouvrirVideoDC:hover {
    color: #050f1a;
    background: #d501f6;
    border-radius: 3px;
    box-shadow: 0 0 10px #5d046b, 0 0 40px #863e91, 0 0 80px #d501f6;
    transition-delay: 200ms;
}

#ouvrirVideoDCR:hover {
    color: #050f1a;
    background: #d501f6;
    border-radius: 3px;
    box-shadow: 0 0 10px #5d046b, 0 0 40px #863e91, 0 0 80px #d501f6;
    transition-delay: 200ms;
}

#ouvrirtoutdoux:hover {
    color: #050f1a;
    background: #d501f6;
    border-radius: 3px;
    box-shadow: 0 0 10px #5d046b, 0 0 40px #863e91, 0 0 80px #d501f6;
    transition-delay: 200ms;
}

#ouvrircalculcarbone:hover {
    color: #050f1a;
    background: #d501f6;
    border-radius: 3px;
    box-shadow: 0 0 10px #5d046b, 0 0 40px #863e91, 0 0 80px #d501f6;
    transition-delay: 200ms;
}

#ouvrirSticky:hover {
    color: #050f1a;
    background: #d501f6;
    border-radius: 3px;
    box-shadow: 0 0 10px #5d046b, 0 0 40px #863e91, 0 0 80px #d501f6;
    transition-delay: 200ms;
}

#ouvrirartsnum:hover {
    color: #050f1a;
    background: #d501f6;
    border-radius: 3px;
    box-shadow: 0 0 10px #5d046b, 0 0 40px #863e91, 0 0 80px #d501f6;
    transition-delay: 200ms;
}

#ouvrirapropos:hover {
    color: #050f1a;
    background: #d501f6;
    border-radius: 3px;
    box-shadow: 0 0 10px #5d046b, 0 0 40px #863e91, 0 0 80px #d501f6;
    transition-delay: 200ms;
}

#ouvrircontact:hover {
    color: #050f1a;
    background: #d501f6;
    border-radius: 3px;
    box-shadow: 0 0 10px #5d046b, 0 0 40px #863e91, 0 0 80px #d501f6;
    transition-delay: 200ms;
}

#ouvrirpug:hover {
    color: #050f1a;
    background: #d501f6;
    border-radius: 3px;
    box-shadow: 0 0 10px #5d046b, 0 0 40px #863e91, 0 0 80px #d501f6;
    transition-delay: 200ms;
}

#ouvrircolors:hover {
    color: #050f1a;
    background: #d501f6;
    border-radius: 3px;
    box-shadow: 0 0 10px #5d046b, 0 0 40px #863e91, 0 0 80px #d501f6;
    transition-delay: 200ms;
}


