@import 'https://fonts.googleapis.com/css?family=Roboto+Mono:100';


body{
	background: #020202;
	padding: 0;
	margin: 0;
	font-family: 'Trebuchet MS', Helvetica, sans-serif;
	}

	.frame{
		position: absolute;
		border: 1px solid #c000d2;
		background: rgba(58, 58, 58, 0.90);
		border-radius: 8px;
		z-index: 10;
		overflow: hidden;
	}

	.topbar{
		border-radius: 3px 3px 0 0;
		padding: 5px;
		text-align: right;
		cursor: default;
	}

     .maxbtn{
		padding: 2px 4px;
		text-align: center;
		border-radius: 2px;
		color: #e80909;
		display: inline-block;
			*display: inline;
			zoom: 1.0;
		vertical-align: top;
		font-family: 'Days One', sans-serif;
		font-size: 16px;
		margin-top: -3px;
	}

	.titre{
		padding: 2px 4px;
		margin-right: 40%;
		border-radius: 2px;
		color: #e7dddd;
		display: flex;
		zoom: 1.0;
		vertical-align: top;
		font-family: 'helvetica', sans-serif;
		font-size: 12px;
		margin-top: -3px;
	}

.menuu{
	background: #863e91;
}
.terminall{
	background: #863e91;
}
.dev{
	background: #7a66fd;
}
.artsnum{
	background: #7a66fd;
}
.apropos{
	background: #7a66fd;
}
.contact{
	background: #7a66fd;
}
.red{
	background: #d23c31;
}
.orange{
	background: #ff4d00;
}
.pug{
	background: #f27937;
}
.colors{
	background: #f27937;
}
.blue{
	background: #0c1340;
}
.green{
	background: #0f6201;
}

	.maxbtn span{
		display: block;
		border: 1px solid #333;
		border-top: 2px solid #333;
		width: 9px;
		height: 8px;
		margin-top: 6px;
	}
	.maxbtn:hover span, .maximized .maxbtn span{
		border-color: #e7e7e7;
	}

	.xbtn0, .xbtn1, .xbtn2, .xbtn3, .xbtn4, .xbtn5, .xbtn6, .xbtn7, .xbtn8, .xbtn9, .xbtn10, .xbtn11{
		padding: 2px 4px;
		text-align: center;
		border-radius: 2px;
		color: #333;
		display: inline-block;
		*display: inline;
		zoom: 1.0;
		vertical-align: top;
		font-family: 'Days One', sans-serif;
		font-size: 16px;
		margin-top: -3px;
	}

	.reload-pug, .reload-toutdoux, .reload-calculcarbone, .reload-terminal, .reload-videoDCR, .reload-videoDC{
		padding: 2px 4px;
		text-align: center;
		border-radius: 2px;
		color: #333;
		display: inline-block;
		*display: inline;
		zoom: 1.0;
		vertical-align: top;
		font-size: 16px;
		margin-top: -3px;
	}

.reload-colors:hover{
	color: #ff9900;
	scale: 110%;
}
.reload-pug:hover{
	color: #ff9900;
	scale: 110%;
}

.reload-toutdoux:hover{
	color: #ff9900;
	scale: 110%;
}

.reload-calculcarbone:hover{
	color: #ff9900;
	scale: 110%;
}

.reload-terminal:hover{
	color: #ff9900;
	scale: 110%;
}

.reload-videoDC:hover{
	color: #ff9900;
	scale: 110%;
}

.reload-videoDCR:hover{
	color: #ff9900;
	scale: 110%;
}

.xbtn0:hover{
	color: #b49e11;
}

.xbtn1:hover{
		color: #b49e11;
}

.xbtn2:hover{
	color: #b49e11;
}

.xbtn3:hover{
	color: #b49e11;
}

.xbtn4:hover{
	color: #b49e11;
}

.xbtn5:hover {
	color: #ac9710;
}

.xbtn6:hover{
	color: #ac9710;
}

.xbtn7:hover{
	color: #ac9710;
}

.xbtn8:hover{
	color: #ac9710;
}

.xbtn9:hover{
	color: #ac9710;
}

.xbtn10:hover{
	color: #ac9710;
}

.xbtn11:hover{
	color: #ac9710;
}


	.content{
		height: auto;
		width: auto;
		padding: 5px;
	}

	.content>div{
		width: inherit;
		height: inherit;
	}

	.content>iframe{
		width: inherit;
		height: inherit;
	}

	textarea{
		width: 100%;
		height: 100%;
		margin: 0;
		padding: 0;
		border: none;
	  	outline: none;
	  	-webkit-appearance: none;
	  	background: rgba(47, 47, 47, 0.85);
	  	color: #e963fc;
	  	font-size: 16px;
	  	font-weight: normal;
		font-family: 'Trebuchet MS', Helvetica, sans-serif;
	  	resize: none;
	}

	.active{
		z-index: 999999;
	}


#menu{
	top: 60px;
	left: 5px;
}

#terminal{
	top: 60px;
	left: 300px;
}

#dev{
	top: 80px;
	left: 100px;
}

#videoDC{
	top: 80px;
	left: 300px;
}

#videoDCR{
	top: 150px;
	left: 350px;
}

#toutdoux{
	top: 100px;
	left: 50px;
}

#calculcarbone{
	top: 150px;
	left: 100px;
}

#sticky{
	top: 50px;
	left: 330px;
}

#artsnum{
	top: 190px;
	left: 130px;
}

#apropos{
	top: 90px;
	left: 110px;
}

#contact{
	top: 150px;
	left: 400px;
}

#pug{
	top: 90px;
	left: 110px;
}

#colors{
	top: 90px;
	left: 110px;
}


    #menu .content{
	    width: 200px;
	    height: 200px;
	    color: #d84cfd;
    }

    #terminal .content{
	    width: 650px;
	    height: 400px;
	    right: 0;
    }
	#videoDC .content{
		width: 400px;
		height: 300px;
	}
	#videoDCR .content{
		width: 400px;
		height: 300px;
	}
	#toutdoux .content{
		width: 550px;
		height: 400px;
		right: 0;
	}
	#calculcarbone .content{
		width: 550px;
		height: 1000px;
		right: 0;
	}
	#dev .content{
		width: 300px;
		height: 200px;
		color: #d84cfd;
	}
	#sticky .content{
		width: 300px;
		height: 350px;
	}

    #artsnum .content{
		width: 250px;
		height: 200px;
		color: #d84cfd;
	}

	#apropos .content{
		width: 500px;
		height: 400px;
		color: #d84cfd;
	}

	#contact .content{
		width: 500px;
		height: 400px;
		color: #d84cfd;
	}

	#pug .content{
		width: 900px;
		height: 500px;
		color: #d84cfd;
	}

	#colors .content{
		width: 600px;
		height: 600px;
		color: #d84cfd;
	}


.frame.maximized{
		top: 1% !important;
		left: 1% !important;
		width: 98% !important;
		height: 98% !important;
		-moz-transition: width .25s linear, height .25s linear, top .25s linear, left .25s linear;
		-webkit-transition: width .25s linear, height .25s linear, top .25s linear, left .25s linear;
		transition: width .25s linear, height .25s linear, top .25s linear, left .25s linear;
	}
	
	.frame.maximized .content{
		margin: 0 auto !important;
		width: 95% !important;
		height: 95% !important;
		-moz-transition: width .25s linear, height .25s linear, top .25s linear, left .25s linear;
		-webkit-transition: width .25s linear, height .25s linear, top .25s linear, left .25s linear;
		transition: width .25s linear, height .25s linear, top .25s linear, left .25s linear;
	}

	
.frame.fermee0 {
	display: none;
}
.frame.fermee1 {
	display: none;
}
.frame.fermee2 {
	display: none;
}
.frame.fermee3 {
	display: none;
}
.frame.fermee4 {
	display: none;
}
.frame.fermee5 {
	display: none;
}
.frame.fermee6 {
	display: none;
}
.frame.fermee7 {
	display: none;
}
.frame.fermee8 {
	display: none;
}
.frame.fermee9 {
	display: none;
}
.frame.fermee10 {
	display: none;
}
.frame.fermee11 {
	display: none;
}


.footer {
	height: 10%;
	background-color: rgb(20, 15, 21);
	color: #e164ea;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	position: fixed;
	bottom: 0;
	width: 100%;
	text-align: center;
}




