@import "../../vars.css";

.container {
  display: flex;
  flex-direction: column;
  border-radius: 10px;
  background: linear-gradient(180deg, #576cbc 0%, #132a53 100%);
  box-shadow: 0 16px 14px 0 #04152d;
  padding: 18px 24px;
  width: 300px;
  height: 480px;
}

.image {
  margin-bottom: 26px;
}

.title {
  font-size: 1.3rem;
  font-weight: 700;
}

.description {
  margin-top: 6px;
  font-size: 1rem;
  font-weight: 400;
}


.skills {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  align-content: center;
  gap: 1px;
  justify-content: center;
}

.skill {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1px;
}

.skillImageContainer {
  border-radius: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 50px;
  height: 50px;
}

.skillImageContainer img {
  width: 25px;
}


.links {
  width: 100%;
  margin-top: auto;
  display: flex;
  justify-content: center;
  gap: 30px;
}

.link {
  text-decoration: none;
  color: var(--color-text);
  font-size: 1rem;
  font-weight: 600;
  border-radius: 100px;
  background: var(--color-primary);
  padding: 1px 22px;
}
