body{
	background: #020202;
	padding: 0;
	margin: 0;
	font-family: 'Trebuchet MS', Helvetica, sans-serif;
	}

	.frame{
		position: absolute;
		border: 1px solid #c000d2;
		background: rgba(58, 58, 58, 0.90);
		border-radius: 8px;
		z-index: 10;
		overflow: hidden;
	}

	.topbar{
		border-radius: 3px 3px 0 0;
		padding: 5px;
		text-align: right;
		cursor: default;
	}

     .maxbtn{
		padding: 2px 4px;
		text-align: center;
		border-radius: 2px;
		color: #e80909;
		display: inline-block;
			*display: inline;
			zoom: 1.0;
		vertical-align: top;
		font-family: 'Days One', sans-serif;
		font-size: 16px;
		margin-top: -3px;
	}

.menuu{
	background: #863e91;
}
.terminall{
	background: #863e91;
}
.dev{
	background: #7a66fd;
}
.red{
	background: #d23c31;
}
.orange{
	background: #f27937;
}
.yellow{
	background: #ffcc33;
}
.green{
	background: #00ff91;
}

	.maxbtn span{
		display: block;
		border: 1px solid #333;
		border-top: 2px solid #333;
		width: 9px;
		height: 8px;
		margin-top: 6px;
	}
	.maxbtn:hover span, .maximized .maxbtn span{
		border-color: #e7e7e7;
	}

.xbtn5, .xbtn0, .xbtn1, .xbtn2, .xbtn3, .xbtn4 {
	padding: 2px 4px;
	text-align: center;
	border-radius: 2px;
	color: #333;
	display: inline-block;
	*display: inline;
	zoom: 1.0;
	vertical-align: top;
	font-family: 'Days One', sans-serif;
	font-size: 16px;
	margin-top: -3px;
}

.xbtn5:hover {
	color: #ac9710;
}

.xbtn0:hover{
	color: #b49e11;
}

.xbtn1:hover{
		color: #b49e11;
}

.xbtn2:hover{
	color: #b49e11;
}

.xbtn3:hover{
	color: #b49e11;
}

.xbtn4:hover{
	color: #b49e11;
}

	.content{
		height: auto;
		width: auto;
		padding: 5px;
	}

	.content>div{
		width: inherit;
		height: inherit;
	}

	.content>iframe{
		width: inherit;
		height: inherit;
	}

	textarea{
		width: 100%;
		height: 100%;
		margin: 0;
		padding: 0;
		border: none;
	  	outline: none;
	  	-webkit-appearance: none;
	  	background: rgba(47, 47, 47, 0.85);
	  	color: #e963fc;
	  	font-size: 16px;
	  	font-weight: normal;
		font-family: 'Trebuchet MS', Helvetica, sans-serif;
	  	resize: none;
	}

	.active{
		z-index: 999999;
	}

#menu{
	top: 25px;
	left: 5px;
}

#terminal{
	top: 35px;
	left: 15px;
}

#dev{
	top: 45px;
	left: 20px;
}

#video{
	top: 20px;
	left: 10px;
}

#website{
	top: 100px;
	left: 50px;
}

#sticky{
	top: 200px;
	left: 150px;
}

    #menu .content{
	    width: 200px;
	    height: 200px;
	    color: #d84cfd;
    }

    #terminal .content{
	    width: 650px;
	    height: 400px;
	    right: 0;
    }
	#video .content{
		width: 300px;
		height: 200px;
	}
	#website .content{
		width: 550px;
		height: 400px;
		right: 0;
	}
	#dev .content{
		width: 200px;
		height: 200px;
		color: #d84cfd;
	}
	#sticky .content{
		width: 300px;
		height: 350px;
	}
	
	.frame.maximized{
		top: 1% !important;
		left: 1% !important;
		width: 98% !important;
		height: 98% !important;
		-moz-transition: width .25s linear, height .25s linear, top .25s linear, left .25s linear;
		-webkit-transition: width .25s linear, height .25s linear, top .25s linear, left .25s linear;
		transition: width .25s linear, height .25s linear, top .25s linear, left .25s linear;
	}
	
	.frame.maximized .content{
		margin: 0 auto !important;
		width: 95% !important;
		height: 95% !important;
		-moz-transition: width .25s linear, height .25s linear, top .25s linear, left .25s linear;
		-webkit-transition: width .25s linear, height .25s linear, top .25s linear, left .25s linear;
		transition: width .25s linear, height .25s linear, top .25s linear, left .25s linear;
	}

.frame.fermee0 {
	display: none;
}

.frame.fermee5 {
	display: none;
}

.frame.fermee1 {
	display: none;
}
.frame.fermee2 {
	display: none;
}
.frame.fermee3 {
	display: none;
}
.frame.fermee4 {
	display: none;
}
