<!doctype html>
<html lang="fr">
<head>
  <title>Steven BACHIMONT</title>
  <meta charset="utf-8">
  <meta name="description" content="">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta property="og:title" content="">
  <meta property="og:type" content="">
  <meta property="og:url" content="">
  <meta property="og:image" content="">
  <link rel="stylesheet" href="css/normalize.css">
  <link rel="stylesheet" href="css/main.css">
  <link rel="stylesheet" href="css/modal.css">
  <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto+Mono:100">
  <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
  <link rel="stylesheet" href="css/terminal.css">



</head>

<body>
<div class="section0" id="section0">
  <div class="menu">
    <div id="logo">
      <img class="text-link" href="#section0" src="https://avatars.githubusercontent.com/u/142581911?v=4" alt="Logo">
      <div class="menu2" id="menu2">
        <a class="text-link" href="#section1">Développement WEB</a><br>
        <a class="text-link" href="#section2">Arts Numériques</a><br>
        <a class="text-link" href="#section3">A propos</a>
      </div>
    </div>
    <div class="fleche" id="fleche"><-menu</div>
  </div>
  <div class="title" id="title">Steven BACHIMONT</div>
</div>

<div class="intro" id="intro">
  <h1 class="title-intro delayed">WELCOME</h1>
  <p class="delayed ">En construction permanente, cet espace à voccation à vous proposer tous mes travaux numériques techniques et artistiques.</p>
</div>

<div class="section1" id="section1">
  <div class="bloct">
    <h2>Développement WEB</h2>
  </div>
  <div class="bloc1">
    <p>Actuellement autodidacte, j'éxplore, je découvre l'art de mettre en page et en action mes idées.</p>
    <p>En frontend et en backend, j'invente, reproduit et teste des principes fondamentaux du développement web.</p>
    <p>Ma formation de développeur web et appweb commence le 27/2/2024 à la Wild Code School :-)</p>
    <p>Revenez plus tard, assistez à la métamorphose...</p>
    <!-- Bouton 1 -->
    <button id="btn1" class="modal-btn">Wilde Code School</button>
    <div id="modal1" class="modal">
      <div class="modal-content">
        <span class="close" onclick="closeModal('modal1')">&times;</span>
        <h2>Cas d'école...</h2>
        <p>Projet de prérentrée</p>
        <a href="https://stevenbachimont.github.io/Web-Development-Tech-Challenge/index.html" target="blank" title="Web-Development-Tech-Challenge" class="modalien">Web-Development-Tech-Challenge</a>
      </div>
    </div>

    <!-- Bouton 2 -->
    <button id="btn2" class="modal-btn">Algorithmes</button>
    <div id="modal2" class="modal">
      <div class="modal-content">
        <span class="close" onclick="closeModal('modal2')">&times;</span>
        <h2>Vue.js</h2>
        <h2>Outils d'organisation.</h2>
        <p>Ma première base de donnée avec Supabase (mySQL)</p>
        <p>En cours de développement : système de log/utilisateur.</p>
        <a href="https://stevenbachimont.github.io/toutdoux/" target="blank" title="toutdoux" class="modalien">ToutDoux</a>
        <a href="https://stevenbachimont.github.io/gtd/" target="blank" title="Get Things Do" class="modalien">Get Tings Do</a>
        <h2>Outil d'enregistrement</h2>
        <a href="https://stevenbachimont.github.io/rec/" target="blank" title="Rec" class="modalien">Rec</a>
      </div>
    </div>

    <!-- Bouton 3 -->
    <button id="btn3" class="modal-btn">Bas carbone et RSE</button>
    <div id="modal3" class="modal">
      <div class="modal-content">
        <span class="close" onclick="closeModal('modal3')">&times;</span>
        <h2></h2>
        <p>Calculatrice carbone</p>
         <a href="https://stevenbachimont.github.io/myco2/" target="blank" title="My Co2" class="modalien">My Co2</a><br>
      </div>
    </div>

    <!-- Bouton 4 -->
    <button id="btn4" class="modal-btn">DOCKER</button>
    <div id="modal4" class="modal">
      <div class="modal-content">
        <span class="close" onclick="closeModal('modal4')">&times;</span>
        <h2>DOCKER/Raspberry pi</h2>
        <p>Calculatrice carbone MyCO2 en Docker sur mon raspberry pi / 5w de conso électrique !!</p>
        <a href="http://stevenbachimont.ddns.net:8080/" target="blank" title="My Co2" class="modalien">My Co2 on Docker on raspberry pi</a><br>
        <p>C'est un test, ce n'est pas sécurisé mais il n'y a aucun backend, pas de données stockées. C'est pour l'exercice. </p>
      </div>
    </div>
  </div>
</div>

<div class="section2" id="section2">
  <div class="bloct">
    <h2>Arts Numériques</h2>
  </div>
  <div class="bloc1">
    <p>Ici j'ai une petite liste de projets à vous mettre à dispo.     Patientez..</p>
    <button id="btn5" class="modal-btn2">DATACULTURES 2022</button>
    <div id="modal5" class="modal">
      <div class="modal-content">
        <span class="close" onclick="closeModal('modal5')">&times;</span>
        <h2>DATACULTURES</h2>
        <p>installation...</p>
        <iframe src="//www.ultimedia.com/deliver/generic/iframe/mdtk/01921679/src/qsrqxlu/zone/1/showtitle/1/" frameborder="0" scrolling="no" marginwidth="0" marginheight="0" hspace="0" vspace="0" webkitallowfullscreen="true" mozallowfullscreen="true" allowfullscreen="true" width="300" height="250" allow="autoplay; fullscreen"></iframe>
      </div>
    </div>
  </div>
</div>



<div class="section3" id="section3">
  <div class="bloct">
    <h2>A propos</h2>
  </div>
  <div class="bloc1">
    <p>Artiste de cirque de formation, une blessure mettant fin à une courte carrière de trapéziste, j’ai enseigné les arts du cirque et je me suis intéressé au cirque adapté en intervenant en milieu carcéral et psychiatrique.
      En parallèle j’ai développé une carrière de musicien pour les spectacles puis j’ai proposé des projets audiovisuels et interactifs d'arts numériques.
      J’ai aussi vécu de belles expériences plus institutionnelles en travaillant en startup avec des architectes ou comme aujourd’hui en école de commerce.
      Lors de mon installation à Nantes, j’ai découvert Stéréolux et le Lieu Unique chez qui j’ai développé des  compétences de technique audiovisuelle.
      Maintenant place à une formation de développeur web et ensuite, en selle Gisèle..</p>
    <button id="btn6" class="modal-btn">Pour me contacter</button>
    <div id="modal6" class="modal">
      <div class="modal-content">
        <span class="close" onclick="closeModal('modal6')">&times;</span>
        <!--formulaire de contact-->
     <div id="app">
      <h2>Pour me contacter :</h2>
      <form>
        <label for="nom">Nom :</label>
        <input class="nom" type="text" id="nom" v-model="nom" required><br><br>
        <label for="email">Email :</label>
        <input class="email" type="email" id="email" v-model="email" required><br><br>
        <label for="message">Message :</label><br><br>
        <textarea class="message" v-model="message" rows="4" cols="50" required></textarea><br><br>
        <button class="submitform" @click.prevent="submitForm">Envoyer</button>
      </form>
     </div>
      </div>
    </div>
    <a href="https://github.com/stevenbachimont" target="blank" title="Rec" class="modalien">Mon profil Github</a>
  </div>
</div>
<div class="section4">
  <p>02/2024 / Steven BACHIMONT</p>
</div>



<script src="js/vendor/modernizr-3.11.2.min.js"></script>
<script src="js/main.js"></script>
<script src="js/modal.js"></script>
<script src="js/glitch.js"></script>
<script src="js/terminal.js"></script>
<script>
  window.ga = function () { ga.q.push(arguments) }; ga.q = []; ga.l = +new Date;
  ga('create', 'UA-XXXXX-Y', 'auto'); ga('set', 'anonymizeIp', true); ga('set', 'transport', 'beacon'); ga('send', 'pageview')
</script>
</body>

</html>
